@model Project.Domain.Model.IOrder

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Add new product</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Customers)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerId", Model.Customers, "--Select Customer--")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Products)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductId", Model.Products, "--Select Product--")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Quantity, new { @type = "number" })
        </div>

        <br/>
        <input type="submit" value="Add Order" />
    </fieldset>
}