@model Project.ViewModels.Product.ProductViewModel

<div class="col-md-8">
    <table class="table all-products" style="width:400px">
        <tbody>
            <tr>
                <table class="product" style="width: 400px">
                    <tbody>
                        <tr>
                            <td>
                                <h2>@Model.Product.Title</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>Author: @Model.Product.Author</td>
                        </tr>
                        <tr>
                            <td>Product Id: @Model.Product.Id</td>
                        </tr>
                    </tbody>
                </table>

                <td><strong>Abtract:</strong>@Html.Raw(Model.Product.Abstract)</td>
                <td><strong>Content:</strong>@Html.Raw(Model.Product.Content)</td>
            </tr>
        </tbody>
    </table>
</div>