@model Project.Infrastructure.Model.Product

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Add new product</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Code)
        </div>

        <div class="editor-label">
            @Html.Label("Price")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Value)
        </div>

        <br/>
        <input type="submit" value="Add Product" />
    </fieldset>
}